/*Fonts*/
@font-face {
    font-family: 'sb_pakenhamregular';
    src: url('../fonts/sb_pakenham-webfont.woff2') format('woff2'),
         url('../fonts/sb_pakenham-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html, 
body {
  font-family: 'sb_pakenhamregular';
  background: #7a1311;
  background-image: url('../img/bg-superbock2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;	
  background-attachment: fixed;
  height: 100%;

}
h1,
h2,
h3,
h4 {	
	color: #ffffff;	
}
input::-webkit-input-placeholder {
color: #fff !important;
}
input::-moz-placeholder {
color: #fff !important;
}
input:-moz-placeholder { /* Older versions of Firefox */
color: #fff !important;
}
input:-ms-input-placeholder {
color: #fff !important;
}
.h-100{
	/*min-height: 600px;*/
}
.mb-5 {
	margin-bottom: 50px;
	display: block;
}
iframe {
	width: 100% !important;
	height: 441px;
}
/*Sections*/
.title-section {
	display: block;
	width: 100%;
	margin-top: 60px;
	margin-bottom: 40px;
	font-size: 5.0rem;	
}
/*Header*/
header {
	text-transform: uppercase;
}
header h1 {
	margin-top: 3%;
	/*font-size: 5.3rem;*/
	font-size: 4.3rem;
    line-height: 3.8rem;
    margin-bottom: 20px;
}
header figure img, .jt-2{
	max-height: 450px;
}
header h2 {
	font-size: 2.6rem;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
header p {
	font-size: 1.5rem !important;
	font-family: 'Roboto', sans-serif;
	text-transform: none !important;
}
h3 span {
	font-size: 1.2rem;
	font-family: arial;
}
header p {
	color: #ffffff;
	font-size: 2.2rem;
}

/*O Juntar*/
.juntar_info img {
	max-height: 240px;
}
.juntar_info p {
	color: #ffffff;
	font-size: 1.8rem;
	line-height: 1.8rem;
	padding-top: 80px;
}
/*campanha*/
#campanha-natal h4 {
	font-size: 2.8rem;
}
#campanha-natal p {
	color: #fff;
	font-size: 2.1rem;
}
#campanha-natal .conteudo {
	margin-top: 80px;
}

#campanha-natal figure {
	margin-bottom: 50px;
}

/*mesa*/
#mesa figure {
	margin-top: 130px;
	margin-bottom: 100px;
}
#mesa h4 {
	font-size: 2.7rem;
}
/*Mecânica*/
#mecanica {
	text-align: center;
}
#mecanica .info-mecanica {
	text-align: center;
	font-size: 1.6rem;	
	margin-bottom: 50px;
	/*text-transform: uppercase;*/
}
#mecanica img {
	height: 315px;
	width: auto;
}
#mecanica h4 {
	font-size: 2.4rem;
	margin-bottom: 50px;
}
.step {
	background: #941612;
	color: #ffffff;
	
	width: 40px;
	height: 40px;

	font-size: 1.9rem;
	line-height: 2.6rem;

	margin: 20px auto;

	border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;    
}
/*Vantagens*/
#vantagens .title-sectio {
	margin-top: 30px;
}
#vantagens h4 {
	font-size: 2.4rem;
}
#vantagens ul {
	list-style: none;
	margin: 60px 0 0 10px;
	padding: 0;	
}
#vantagens ul li {
	color: #ffffff;	
	font-size: 2.1rem;	

    margin: 0 0 35px 50px;
    text-indent: -50px;
    line-height: 2.0rem;
}
#vantagens ul li:before {
    content: "· ";
    font-size: 9.0rem;
    vertical-align: middle;
    line-height: 1.9rem;
}
/*materiais*/
#materiais .mat-info {
	color: #ffffff;
	font-size: 2.2rem;
	margin-top: 80px;
}
#nosso-juntar h2 {
	font-size: 3.5rem;
}
#nosso-juntar h3 {
	font-size: 2.5rem;
	margin-top: 30px;
}

/*radio custom*/
.btn-group>.btn-group:not(:last-child)>.btn, 
.btn-group>.btn:not(:last-child):not(.dropdown-toggle),
.btn-group>.btn-group:not(:first-child)>.btn, 
.btn-group>.btn:not(:first-child) {
    border-radius: 100px;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-right: 30px;
    padding-right: 10px;
    padding-left: 10px;
}
.btn-secondary:not(:disabled):not(.disabled).active, 
.btn-secondary:not(:disabled):not(.disabled):active, 
.show>.btn-secondary.dropdown-toggle {
    color: #4e1200;
    background-color: #ffffff;
    border-color: #ffffff;
}
.btn-secondary:hover {
	color: #ffffff;
	background-color: #76170a;
    border-color: #4e1200;
}


/*Forms*/
form label {
	color: #ffffff;
}
#cadastro-superbock {	
	margin-bottom: 40px;
}
.col-form-label {	
	font-size: 1.83rem;
	line-height: 1.6rem;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #ffffff !important;
    background-color: #76170a;
    background-clip: padding-box;
    border: 1px solid #76170a;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input[type="text"]:focus,
input[type="email"]:focus {
	color: #ffffff !important;
    background-color: #76170a !important;
}
.custom-control {
	padding-left: 0.5rem;
}
.custom-control-label {
	padding: 15px 15px 0 25px;
	margin-left: 15px;	
	font-size: 1.2rem;
}
.custom-control-label a {
	color: #ffff;
	text-decoration: underline;
}
.custom-control-label::before, 
.custom-control-label::after {
    top: .6rem;
    width: 2.45rem;
    height: 2.45rem;
    background: #76170a;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
form .btn {
	background: #4e1200;
	color: #ffffff;
	border-color: #4e1200;
	font-size: 1.6rem;
	padding: 6px 20px 3px;
}
form .btn  i{
	padding-right: 10px
}
form button.btn { 	
	font-size: 2.1rem;
	padding: 8px 30px;
	text-transform: uppercase;
}
.btn-primary:hover {
    color: #fff;    
    background-color: #76170a !important;
    border-color: #4e1200;
}
.bt-aceitar {
	text-align: right;
}
label.error {
	display: table;
    background: #ffaa00;
    color: #000000;
    font-family: arial;
    padding: 0 10px;
    font-size: 0.8rem;
}
/*Modal*/
.modal-dialog {
	margin-top: 18%;
}
.modal-content {
	background: #d31315;
	text-align: center;
}
.modal-content p {
	font-size: 2.0rem;
	line-height: 1.4rem;
	padding-top: 30px;
	color: #FFFFFF;
}
.close {
    float: right;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0;
    opacity: .5;
    position: absolute;
    top: 0px;
    right: 10px;
}
.modal-backdrop {
  background-color: #ba0708;
  opacity: 0.9 !important;
}
/*//Queries*/
/*@media screen and (min-width: 1920px) {
   header figure img{
		max-height: 520px !important;
	}	
}*/
section {
	margin-bottom: 50px;
	padding-bottom: 50px;
}
@media (max-width: 480px) {	
	header h1 {
	margin-top: 3%;
	font-size: 3.9rem;
	}
	header figure img{
		max-height: 420px;
	}
	header h2 {
		font-size: 1.8rem;
	}
	header p {
		color: #ffffff;
		font-size: 1.4rem;
	}
	section {
    	display: table;
	}
	.title-section {
		margin-top: 100px;
    	font-size: 3.3rem;
	}
	#vantagens ul {
		margin-top: 100px;	
	}
	#vantagens ul li {
		font-size: 1.6rem;
	}
	#vantagens img {
		height: 300px;
		width: auto;
	}
	#vantagens h4 {
		font-size: 1.8rem;
	}
	.bt-aceitar {
		text-align: center;
		padding-top: 30px;
	}
	form button.btn {
		width: 100%;
	}
	.custom-control-label::before, 
	.custom-control-label::after {
	    top: .5rem;	
	}
	.juntar_info img {
		max-height: 240px;
	}
	.juntar_info p {
		text-align: center;
		padding-top: 10px;
		padding-bottom: 20px;
	}
	#nosso-juntar {
		padding-top: 150px;
	}	

}
@media (max-width: 320px) {
	header h1 {
	margin-top: 3%;
	font-size: 3.2rem;
	}
	header figure img{
		max-height: 320px;
	}
	header h2 {
		font-size: 1.8rem;
	}
	header p {
		color: #ffffff;
		font-size: 1.4rem;
	}
	.title-section {
	    margin-top: 60px;
	    font-size: 2.9rem;
	    line-height: 3.0rem;
	}
	#campanha-natal h4 {
    	font-size: 1.8rem;
	}
	#mesa figure {
	    margin-top: 130px;
	    margin-bottom: 50px;
	}
	#mesa h4 {
    	font-size: 2.1rem;
	}
	#nosso-juntar h2 {
    	font-size: 2.4rem;
	}
	#nosso-juntar h3 {
    	font-size: 1.8rem;
    	margin-top: 20px;
	}
	.btn-group>.btn-group:not(:last-child)>.btn, 
	.btn-group>.btn:not(:last-child):not(.dropdown-toggle), 
	.btn-group>.btn-group:not(:first-child)>.btn, 
	.btn-group>.btn:not(:first-child) {
		margin-right: 10px;
	}
	h3 span {
    	font-size: 0.8rem;
	}
}
@media (min-width: 480px) and (max-width: 480px) {	}
/*//End Queries*/